<div class="d-flex flex-column justify-content-center">
  <h2 style="text-align: center">Section</h2>
  <form [formGroup]="sectionCreatorForm" (submit)="submit()" class="form p-3">
    <div class="mb-3">
      <div class="form-floating mb-3">
        <input
          id="title"
          type="text"
          class="form-control"
          formControlName="title"
        />
        <label for="title">Title</label>
        @if (title?.invalid && (title?.touched || title?.dirty)) {
        <div class="alert alert-danger p-2">
          @if (title?.hasError('required')) {
          <div>Title is required.</div>
          }
        </div>
        }
      </div>
    </div>
    <mat-radio-group
      class="templates-container my-4 justify-content-center d-flex"
      (change)="typeSelectionChanged($event)"
      [value]="resumeSectionType"
    >
      <mat-radio-button class="m-1" [value]="ResumeSectionType.ProfileEntry">
        <div>{{ ResumeSectionType.ProfileEntry }}</div>
      </mat-radio-button>
      @if(!doesSummarySectionExist()){
      <mat-radio-button class="m-1" [value]="ResumeSectionType.Summary">
        <div>{{ ResumeSectionType.Summary }}</div>
      </mat-radio-button>
      }
      @if(!doesSkillsSectionExist()){
      <mat-radio-button class="m-1" [value]="ResumeSectionType.Skills">
        <div>{{ ResumeSectionType.Skills }}</div>
      </mat-radio-button>
      }
      <mat-radio-button class="m-1" [value]="ResumeSectionType.Text">
        <div>{{ ResumeSectionType.Text }}</div>
      </mat-radio-button>
    </mat-radio-group>
    <div cdkDropList class="drag-drop-list" (cdkDropListDropped)="drop($event)">
      @for (section of sections; track section;let index=$index) {
      <div class="draggable-box" cdkDrag>
        <div class="drag-icon">
          <i class="bi bi-three-dots-vertical"></i>
          <i class="bi bi-three-dots-vertical"></i>
        </div>
        <div class="p-2">
          @if(index===this.newSectionIndex){
          {{ this.sectionCreatorForm.value.title }}
          }@else {
          {{ section.title }}
          }
        </div>
      </div>
      }
      <!-- <div class="draggable-box" cdkDrag>
        <div class="drag-icon">
          <i class="bi bi-three-dots-vertical"></i>
          <i class="bi bi-three-dots-vertical"></i>
        </div>
        <div class="p-2">
          {{ this.sectionCreatorForm.value.title }}
        </div>
      </div> -->
    </div>
    <div class="justify-content-end d-flex mt-3">
      <button type="submit" class="btn btn-success mx-2">Create</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
