<!-- <div class="cover-letter">
  <div class="name">
    <div>{{ this.coverLetter.userInfo.name }}</div>
  </div>
  <div class="text-center">{{ this.coverLetter.userInfo.address }}</div>
  <div class="contact-info-container">
    <p>{{ phoneNumber }}</p>
    <p>{{ this.coverLetter.userInfo.email }}</p>    
  </div>
  <div class="line"></div>
  <div class="line"></div>
  <p class="date">{{ date }}</p>
  <div class="company-info">
    @if(this.coverLetter.companyInfo.person){
    <p>{{ this.coverLetter.companyInfo.person }}</p>
    }
    @if(this.coverLetter.companyInfo.name){
    <p>{{ this.coverLetter.companyInfo.name }}</p>
    }
    @if(this.coverLetter.companyInfo.address){
    <p>{{ this.coverLetter.companyInfo.address }}</p>
    }
  </div>
  <div class="subject">{{this.coverLetter.subject}}</div>
  <div class="text" [innerHTML]="content"></div>
</div> -->
