<div class="tool-container d-flex flex-column flex-grow-1 mb-2">
  <form
    [formGroup]="aiSectionForm"
    (submit)="submit()"
    class="form d-flex flex-column p-1 mb-3"
  >
    <div id="instruction-container">
      <label style="flex-basis: min-content" for="instruction">{{
        "Instructions" + (areInstructionsOptional ? " (optional)" : "")
      }}</label>
      <textarea
        id="instruction"
        type="textarea"
        class="form-control w-100 flex-grow-1"
        [placeholder]="instructionsPlaceholder"
        formControlName="instruction"
        oninput="this.parentNode.dataset.replicatedValue = this.value"
      ></textarea>
      <div id="instruction-btns" class="align-items-center">
        <select
          #tooltip="matTooltip"
          [matTooltip]="getCurrentInstructionDescription()"          
          [matTooltipPosition]="'above'"
          id="instructionType"
          class="form-select m-2"
          aria-label="Default select example"
          formControlName="instructionType"
          style="width: fit-content"
          *ngIf="this.instructionTypeOptions.length > 1"
        >
          <!-- <option selected>Open this select menu</option> -->
          @for (option of this.instructionTypeOptions; track option) {
          <option [value]="option.value">
            {{ option.key }}
          </option>
          }
        </select>
        <button
          type="submit"
          class="btn btn-outline-dark mx-2"
          [disabled]="shouldDisableSubmit()"
        >
          @if(isWaitingForResponse){
          <span
            class="spinner-border spinner-border-sm mx-2"
            aria-hidden="true"
          ></span>
          }
          {{ submitButtonText }}
        </button>
      </div>
    </div>
  </form>
  @if(responseText.length>1 && !isWaitingForResponse){
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex justify-content-end w-100">
      <button
        class="btn btn-icon"
        #tooltip="matTooltip"
        matTooltip="Copy to clipboard"
        [matTooltipPosition]="'above'"
        (click)="copyToClipboard()"
      >
        <i class="bi bi-clipboard"></i>
      </button>
    </div>
    <div #responseContainer id="response-container" class="form-control flex-grow-1" [innerHTML]="responseText"></div>
  </div>
  }
</div>
