// .container {
//   max-width: 400px;
//   flex: 1;
// }

#profile-entries-importer {
  max-height: 80vh;
  overflow: auto;
}

#profile-entry-form {
  overflow: hidden;
  max-height: none;
  // display: flex;
  // overflow-y: hidden;
}

.form {
  max-height: none;
}
