<div id="profile-entries-importer" class="container d-flex flex-column">
  <h2>Import Profile Entries</h2>
  <p>
    Selected Items: {{ this.selectedEntriesIds.length
    }}<button
      class="mx-3 btn btn-outline-primary"
      [hidden]="this.selectedEntriesIds.length == 0"
      (click)="this.selectedEntriesIds=[]"
    >
      Deselect all
    </button>
  </p>
  <cdk-accordion class="accordion d-flex flex-column flex-grow-1">
    @for (group of this.entries | keyvalue; track group.key; let groupIndex =
    $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
    >
      <div class="d-flex flex-row align-items-center">
        <button
          class="accordion-item-header"
          (click)="accordionItem.toggle()"
          tabindex="0"
          [attr.id]="'accordion-header-' + groupIndex"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + groupIndex"
        >
          {{ getTitle(group.key) }}
          <span class="accordion-item-description">
            Click to {{ accordionItem.expanded ? "close" : "open" }}
          </span>
        </button>
      </div>
      <ng-container *ngIf="accordionItem.expanded">
        <div
          class="accordion-item-body"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + groupIndex"
          [attr.aria-labelledby]="'accordion-header-' + groupIndex"
        >
          <ul>
            <ng-container
              class="d-flex flex-row w-100 mb-3 align-items-start"
              *ngFor="let entry of group.value"
            >
              <li class="mb-2" style="list-style: none">
                <mat-checkbox
                  [checked]="this.isSelected(entry.id)"
                  (change)="this.toggleEntrySelection(entry.id)"
                >
                  <div>
                    <div class="mb-1">
                      <div style="font-weight: 500">
                        {{ entry.title }}
                      </div>
                    </div>
                    <div class="mb-1 d-flex flex-row">
                      <div *ngIf="entry.organization">
                        {{ entry.organization + " - " }}
                      </div>
                      <div *ngIf="entry.location">
                        {{ entry.location }}
                      </div>
                    </div>
                    <div class="mb-1">
                      <div>
                        {{
                          ProfileEntryHelperMethods.getTimeframe(
                            entry.startDate,
                            entry.endDate
                          )
                        }}
                      </div>
                    </div>
                  </div>
                </mat-checkbox>
              </li>
            </ng-container>
          </ul>
        </div>
      </ng-container>
    </cdk-accordion-item>
    }
  </cdk-accordion>
  <div class="justify-content-end d-flex mt-3 align-items-end flex-grow-1">
    <button type="submit" class="btn btn-outline-dark mx-2" (click)="save()">
      {{ acceptButtonText }}
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
      Cancel
    </button>
  </div>
</div>
