$base-color: black;
$text-font-size: 0.8rem;
$profile-entry-title-font-size: 0.9rem;

:host {
  color: $base-color;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $base-color;
}

p,
div {
  font-size: $text-font-size;
}

#header {
  display: flex;
  .name {
    text-align: left;
    text-wrap-mode: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: fit-content;
  }

  .contact-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap-mode: nowrap;
    text-align: end;

    a,
    p {
      flex: 1;      
      text-align: end;
      word-wrap: break-word;
      word-break: keep-all;
      min-width: 50%;
      margin-bottom: 0 !important;
    }
  }
}

.section {
  margin-bottom: $text-font-size;
  break-inside: avoid-column;

  .title {
    text-transform: uppercase;
    font-size: $profile-entry-title-font-size;
    font-weight: 600;
    margin-bottom: 0.5rem;
    width: 100%;
    border-bottom: solid black;
  }

  p{
    margin-bottom: 0 !important;
  }
}

.entry-container {
  margin-bottom: $text-font-size;
  break-inside: avoid;

  .title-container {
    display: flex;
    width: 100%;
    break-inside: avoid;

    div {
      flex: 1;
    }
    .title {
      text-align: left;
      text-transform: none;
      font-size: $profile-entry-title-font-size;
      margin-bottom: 0;
      border: none;
    }
    .time-frame {
      text-align: right;
      font-size: $profile-entry-title-font-size;
    }
  }

  .organization-info {
    font-size: $profile-entry-title-font-size;
  }
}
