<div class="d-flex flex-column justify-content-center">
  <h2 style="text-align: center">{{sectionInfo.title}}</h2>
  <form [formGroup]="sectionInfoForm" (submit)="submit()" class="p-3">
    <div class="d-flex flex-column mb-3">            
        <div>
          <label class="form-label">Content</label>
          <i
        [hidden]="isContentEmpty()"
        class="btn bi bi-x-lg"
        (click)="cleanContent()"
      ></i>
        </div>
        <quill-editor
          [modules]="quillModules"
          formControlName="content"
        ></quill-editor>      
    </div>
    <div class="justify-content-end d-flex">
      <button type="submit" class="btn btn-success mx-2">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
