<div id="ai-profile-entry-form" class="container d-flex flex-column h-100 pb-3">
  <app-profile-entry-form
    #profileEntryForm    
    [profileEntry]="this.profileEntry"
    (onSubmit)="submit($event)"
    (onCancel)="cancel()"
  ></app-profile-entry-form>
  <div class="container mt-2">
    <div
      class="flex-shrink-1 justify-content-end d-flex"
      style="flex-shrink: 1"
    >
      <button
        class="btn btn-outline-success ai-button"
        data-bs-toggle="collapse"
        data-bs-target="#ai-tools"
        aria-expanded="false"
        aria-controls="ai-tools"
      >
        Improve with AI
        <i class="bi bi-filetype-ai"></i>
      </button>
    </div>
    <div class="collapse" id="ai-tools">      
      <app-ai-section-tool
        class="container ai-section"
        [instructionsPlaceholder]="'e.g. Write 3 bullet items, make them shorter'"
        [submitButtonText]="'Submit'"
        [responseText]="aiResponse"
        [instructionTypeOptions]="aiInstructionTypeOptions"
        [areInstructionsOptional]="true"
        (onSubmit)="submitAiInstruction($event)"
      ></app-ai-section-tool>
    </div>
  </div>
  <!-- <div style="width: 1px; background-color: gray"></div>
  <app-ai-section-tool
    class="container ai-section"
    [instructionTypeOptions]="this.aiInstructionTypeOptions"
    [responseText]="aiResponse"
    (onSubmit)="submitAiInstruction($event)"
  ></app-ai-section-tool> -->
</div>
