<div id="basic-info-form-container" class="d-flex flex-column justify-content-center">  
  <form [formGroup]="basicInfoForm" (submit)="save()" class="form p-3">
    <div class="mb-3">
      <div class="mb-3">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
        @if (name?.invalid && (name?.touched || name?.dirty)) {
        <div class="alert alert-danger p-2">
          @if (name?.hasError('required')) {
          <div>Name is required.</div>
          } @else if(name?.hasError('minLength')){
          <div>Name is too short.</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Keywords
          <button
            type="button"
            class="btn btn-outline-success add-btn"            
            (click)="addKeyword()"
          >
            <i class="bi bi-plus-lg"></i></button
        ></label>
        <div *ngFor="let keyword of keywords; index as i">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. Location, Company, Skills"
              [formControlName]="'keyword-' + keyword.key"
            />
            <button
              type="button"
              class="btn btn-outline-danger delete-btn"
              (click)="removeKeyword(keyword.key, i)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mb-3" style="flex: 1">
        <label for="jobPosting">Job Posting (optional)</label>
        <div>
          <textarea
            id="jobPosting"
            type="textarea"
            class="form-control"
            formControlName="jobPosting"            
            >{{ jobPosting }}</textarea
          >
        </div>
      </div>
    </div>
    <div class="justify-content-end d-flex flex-wrap">
      <button
        type="submit"
        class="btn btn-outline-dark m-2"
        [disabled]="this.basicInfoForm.invalid"
      >
        {{ acceptButtonText }}
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary m-2"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
