<div class="d-flex flex-column justify-content-center">
  <h2>Create New Resume</h2>
  <form [formGroup]="basicInfoForm" (submit)="save()" class="p-3">
    <div class="mb-3">
      <div class="form-floating mb-3">
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
        <label for="name">Name</label>
        @if (name?.invalid && (name?.touched || name?.dirty)) {        
        <div class="alert alert-danger p-2">
          @if (name?.hasError('required')) {
          <div>Name is required.</div>
          }
          @else if(name?.hasError('minLength')){
            <div>Name is too short.</div>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Keywords
          <button
            type="button"
            class="btn btn-success"
            style="padding: 3px 4px"
            (click)="addKeyword()"
          >
            <i class="bi bi-plus-lg"></i></button
        ></label>
        <div *ngFor="let keyword of keywords; index as i">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Value"
              [formControlName]="'keyword-' + keyword.key"
            />
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeKeyword(keyword.key, i)"
            >
              -
            </button>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3" style="flex:1">
        <textarea
          id="jobPosting"
          type="textarea"
          class="form-control"
          style="height: 20rem;"
          formControlName="jobPosting"
          >{{ jobPosting }}</textarea
        >
        <label for="jobPosting">Job Posting (optional)</label>
      </div>
    </div>
    <div class="justify-content-end d-flex">
      <button type="submit" class="btn btn-outline-dark mx-2" [disabled]="this.basicInfoForm.invalid">
        {{ acceptButtonText }}
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
