<div class="container d-flex flex-row h-100">
  <app-text-section-form
    #textSectionForm
    [sectionInfo]="this.sectionInfo"
    (onSubmit)="submit($event)"
    (onCancel)="cancel()"
  ></app-text-section-form>
  <!-- <app-profile-entry-form #profileEntryForm class="profile-entry-form" [profileEntry]="this.profileEntry" (onSubmit)="submit($event)" (onCancel)="cancel()"></app-profile-entry-form> -->
  <div style="width: 1px; background-color: gray"></div>
  <app-ai-section-tool
    class="container ai-section"
    [responseText]="aiResponse"
    [areInstructionsOptional]="areInstructionsOptional"
    (onSubmit)="submitAiInstruction($event)"
  ></app-ai-section-tool>
</div>
