.ai-section {
  display: flex;
}

.section-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: start;
  gap: 1rem;
}

#ai-section-form {
  width: 600px;
  max-width: 90vw;
  overflow: scroll;
  max-height: 90vh;
}
