#resume-list {
  
}

.btn-icon {
  font-size: large;
}

.delete-btn {
  border-width: 0;
}

.input-wrapper {
  position: relative;
  display: inline-block;  
}

.input-wrapper input {
  padding-right: 40px;  
}

.input-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table{
    background-color: transparent;
}

#table-container{
  max-width: 100vw;
  overflow: auto;
  margin-bottom: 1rem;
}

#create-btn{
width: fit-content;
}

@media (max-width: 530px) {
  #search-bar{
    display: flex;
  }

  .input-wrapper{
    flex: 1;
  }

  .btn-group{    
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    gap: 0.5rem;
  }
}