<div id="profile-entry-form" class="flex-column justify-content-center">
  <h2 style="text-align: center">Profile Entry</h2>
  <form [formGroup]="profileEntryFormGroup" (submit)="submit()" class="form p-3">
    <div class="mb-3">
      <div class="form-floating mb-3">
        <input
          id="title"
          type="text"
          class="form-control"
          formControlName="title"
        />
        <label for="title">Title</label>
        @if (title?.invalid && (title?.touched || title?.dirty)) {
        <div class="alert alert-danger p-2">
          @if (title?.hasError('required')) {
          <div>Title is required.</div>
          }
          @if(title?.hasError('minlength')){
            <div>Minimun 2 characters</div>
          }
        </div>
        }
      </div>
      <div class="form-floating mb-3">
        <input
          id="organization"
          type="text"
          class="form-control disabled"
          formControlName="organization"
        />
        <label for="organization">{{
          profileEntry.category === ProfileEntryCategory.Education
            ? "Institution"
            : "Company"
        }}</label>
      </div>
      <div class="form-floating mb-3">
        <input
          id="location"
          type="text"
          class="form-control"
          formControlName="location"
        />
        <label for="location">Location</label>
      </div>
      <div class="form-floating mb-3">
        <input
          id="startDate"
          type="date"
          class="form-control"
          formControlName="startDate"
        />
        <label for="startDate">Start Date</label>        
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="isCurrent"
        />
        <label class="form-check-label" for="checkDefault"> Is Current </label>
      </div>
      @if(!profileEntryFormGroup.get('isCurrent')?.value) {
      <div class="form-floating mb-3">
        <input
          id="endDate"
          type="date"
          class="form-control"
          formControlName="endDate"
        />
        <label for="endDate">End Date</label>
      </div>
      }
      <div class="mb-3 d-flex flex-column">
        <label class="form-label">Description</label>
        <quill-editor
          [modules]="descriptionQuillModules"
          formControlName="description"
        ></quill-editor>
      </div>
    </div>
    <div class="justify-content-end d-flex">
      <button type="submit" class="btn btn-outline-dark mx-2">Save</button>
      <button type="button" class="btn btn-outline-secondary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
