<div class="ai-importer-container d-flex flex-column">
  <app-profile-entries-importer
    class="flex-grow-1"
    #profileEntriesImporter
    [entries]="this.entries"
    [acceptButtonText]="acceptButtonText"
    (onSubmit)="submit($event)"
    (onCancel)="cancel()"
  ></app-profile-entries-importer>
  <div class="container">
    <div
      class="flex-shrink-1 justify-content-end d-flex"
      style="flex-shrink: 1"
    >
      <button
        class="btn btn-outline-success ai-button"
        data-bs-toggle="collapse"
        data-bs-target="#ai-tools"
        aria-expanded="false"
        aria-controls="ai-tools"
      >
        Select with AI
        <i class="bi bi-filetype-ai"></i>
      </button>
    </div>
    <div class="collapse" id="ai-tools">            
      <app-ai-section-tool
        class="container ai-section"
        [instructionsPlaceholder]="'e.g. Select only 3 items'"
        [submitButtonText]="'Select Entries'"
        [responseText]="aiResponse"
        [instructionTypeOptions]="aiInstructionTypeOptions"
        [areInstructionsOptional]="areInstructionsOptional"
        (onSubmit)="submitAiInstruction($event)"
      ></app-ai-section-tool>
    </div>
  </div>
</div>
