.ai-importer-container{
    overflow: scroll;
}
.ai-section {
  display: flex;  
//   flex: 1;
  //   width: 300px;
}

.profile-entries-importer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: start;
  gap: 1rem;
}
