<div id="login-container" class="container p-3">
  <div class="d-flex flex-column w-100">
    <h1 class="">Login</h1>
    <div class="">
      <form [formGroup]="loginForm" (submit)="login()" class="form">
        <div class="mb-3">
          <label for="email">Email address</label>
          <input
            id="email"
            type="email"
            class="form-control form-text-field"
            formControlName="email"
          />
          @if (email?.invalid && (email?.touched || email?.dirty)) {
          <div class="alert alert-danger p-2">
            @if (email?.hasError('required')) {
            <div>Email is required.</div>
            } @if (email?.hasError('email')) {
            <div>Enter a valid email address.</div>
            }
          </div>
          }
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            formControlName="password"
          />
          @if (password?.invalid && (password?.touched || password?.dirty)) {
          <div class="alert alert-danger p-2">
            @if (password?.hasError('required')) {
            <div>Password is required.</div>
            }
          </div>
          }
        </div>
        <div class="justify-content-center d-flex">
          <button
            type="submit"
            class="btn btn-outline-dark w-100"
            [disabled]="isLoggingIn"
          >
            @if(isLoggingIn){
            <span
              class="spinner-border spinner-border-sm mx-2"
              aria-hidden="true"
            ></span>
            } Login
          </button>
        </div>

        <div class="text-center mt-3">
          <p>
            Don't have an account?
            <a href="/register">Register</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
