<div
  class="p-4"
  style="width: 600px; max-width: 90vw; overflow: auto; max-height: 80vh"
>
  <div class="mb-2" style="font-size: x-large; font-weight: 500">
    {{ name }}
    <button class="btn btn-icon" [cdkCopyToClipboard]="this.name">
      <i class="bi bi-clipboard"></i>
    </button>
  </div>
  <div class="d-flex flex-row mb-2">
    <div style="font-weight: 500">Keywords:</div>
    <span
      class="badge rounded-pill text-bg-warning m-1"
      style="font-weight: 400"
      *ngFor="let keyword of this.keywords"
      >{{ keyword }}</span
    >
  </div>
  <div class="mb-2">
    <div class="mb-2" style="font-weight: 500">
      Job Posting:
      <button class="btn btn-icon" [cdkCopyToClipboard]="this.jobPosting">
        <i class="bi bi-clipboard"></i>
      </button>
    </div>
    <div>
      {{ this.jobPosting }}
    </div>
  </div>
  <div class="justify-content-end d-flex">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Close
    </button>
  </div>
</div>
